/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

/* Header styles */
header {
    background-color: #f8f9fa; /* Color de fondo del header */
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #F280CA, #44AFF2); /* Color del menú */
    padding: 15px;
}

.logo-1 {
    width: 150px;
}

.menulog {
    display: none;
}

.logomenu {
    display: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.menu-1 ul,
.menu-2 ul {
    list-style: none;
    display: flex;
}

.menu-1 a {
    font-size: 16px; /* Ajusta este valor según el tamaño que desees */
    font-weight: bold; /* Opcional: Si deseas que el texto sea más grueso */
    color: #050000; /* Color del texto en el menú */
}

.menu-1 li,
.menu-2 li {
    margin: 0 15px;
}

button {
    background-color: transparent;
    border: none;
}

a {
    color: #59D9D9; /* Color de los enlaces */
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: #fff; /* Color al pasar el ratón por encima de los enlaces */
}

/* Slider Styles */
.swiper {
    height: 400px;
    margin: 20px 0;
}

.slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slide-txt {
    width: 50%;
    padding: 20px;
    margin-left: 50px;
}

.slide-txt h1 {
    font-size: 2em;
    color: #F280CA; /* Color del título del slider */
}

.slide-txt p {
    margin: 10px 0;
}

.slide-img {
    width: 50%;
    height: 50%;
}

.botones {
    margin-top: 15px;
}

.btn-1 {
    background-color: #44AFF2; /* Color del botón */
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn-1:hover {
    background-color: #296CF2; /* Color del botón al pasar el ratón */
}

.products {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Tabs */
.tabs {
    display: flex;
    flex-wrap: wrap;
    padding: 100px;
}

.tabs label {
    width: 15%;
    order: 1;
    display: block;
    padding: 20px 0;
    text-align: center;
    cursor: pointer;
    color: #0D0D26; /* Color del texto de las tabs */
    font-weight: 700;
}

.tabs .tab {
    order: 99;
    flex-wrap: 1;
    width: 100%;
    display: none;
    padding-top: 25px;
}

.tabs input[type="radio"] {
    display: none;
}

.tabs input[type="radio"]:checked + label {
    border-bottom: 2px solid #F280CA; /* Color del borde de la tab seleccionada */
    color: #F280CA; /* Color del texto de la tab seleccionada */
}

.tabs input[type="radio"]:checked + label + .tab {
    display: block;
}

/* Product Styles */
.product {
    display: flex;
    justify-content: center;
    border: 2px solid #44AFF2; /* Borde del producto */
    border-radius: 8px;
    overflow: hidden;
    margin: 10px 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Añadir sombra para profundidad */
}

.product-img {
    width: 30%;
    text-align: left;
    position: relative; /* Permite posicionar elementos dentro */
}

.product-img h4 {
    position: absolute; /* Posiciona el nombre en la parte superior */
    top: 10px; /* Ajusta el espacio desde la parte superior */
    left: 10px; /* Ajusta el espacio desde la izquierda */
    padding: 5px 7px;
    line-height: 15px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    border: 2px solid gray;
    border-radius: 10px;
    background-color: white; /* Fondo blanco para el texto */
    z-index: 1; /* Asegura que el texto esté por encima de la imagen */
}

.product-img img {
    width: 50%; /* Asegura que la imagen ocupe todo el espacio */
    height: auto;
    margin-left: 40%;
}

.product-txt {
    width: 50%;
    margin-left: 10px;
    text-align: left;
    padding: 15px;
}

.product-txt p {
    font-size: 18px;
    margin-bottom: 15px;
}

.product-txt span {
    color: #0D0D26; /* Color del precio del producto */
    font-size: 18px;
    font-weight: 500;
}

.btn-3 {
    margin-top: 10px;
}

.btn-3 a {
    background-color: #296CF2; /* Color del botón de producto */
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
}

.btn-3 a:hover {
    background-color: #44AFF2; /* Color del botón de producto al pasar el ratón */
}

/* Info section */
.info {
    background-color: #343a40; /* Color de fondo */
    color: white; /* Color de texto */
    padding: 20px; /* Espacio interno */
    display: flex; /* Usa flexbox para disposición */
    align-items: center; /* Centra verticalmente */
    justify-content: space-around;
    flex-wrap: wrap; 
}

.info-img img {
    width: 150px; 
}

.info-text {
    max-width: 600px; 
    margin: 5%; 
}

.btn-2 {
    background-color: #44AFF2; /* Color del botón en la sección de información */
    color: white; 
    padding: 10px 15px; 
    border-radius: 5px; 
    margin: 15px; 
    margin-top: 20px; 
}

.btn-2:hover {
    background-color: #296CF2; /* Color del botón al pasar el ratón en la sección de información */
}

/* Footer styles */
.footer {
    background-color: #0D0D26; /* Color del fondo del footer */
    color: white;
    padding: 20px;
    display: flex; /* Mantiene el diseño en flex */
    align-items: flex-start; /* Alinea los elementos al inicio */
    justify-content: space-between; /* Espacio entre el mapa y los enlaces */
}

.footer img {
    width: 50px; /* Tamaño de las imágenes en el footer */
    height: 50px; /* Tamaño de las imágenes en el footer */
}

/* Estilos generales para el contenedor de las redes sociales */
.socials {
    display: flex; /* Muestra los elementos en una sola fila */
    justify-content: space-around; /* Distribuye el espacio entre los iconos */
    align-items: center; /* Centra verticalmente los iconos */
    margin: 20px 0; /* Añade algo de margen superior e inferior */
}

/* Estilos para cada icono social */
.social, .social1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px; /* Ajusta el tamaño del contenedor */
    height: 60px; /* Ajusta la altura del contenedor */
    border-radius: 50%; /* Opción para hacer los iconos circulares */
    overflow: hidden;
    background-color: #050000; /* Fondo suave para resaltar los iconos */
}

.social1 {
    width: 120px;
    height: 120px;
}

.mapa {
    height: 300px; /* Mantén esta altura ajustada */
    width: 50%; /* Ajusta el ancho del mapa */
    margin-bottom: 20px; /* Espacio inferior para separar del contenido siguiente */
    font-weight: 400; /* Elimina el uso de porcentaje, ya que no es válido para font-weight */
}

.links {
    margin-left: 20px; /* Espacio entre el mapa y los enlaces */
    display: flex;
    flex-direction: column; /* Alinea los enlaces verticalmente */
}

/* Responsive styles */
@media (max-width: 980px) {
    .menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .logomenu {
        display: none;
    }

    .menulog {
        display: block;
        margin: 10px 0; /* Espacio entre la lista del menú */
    }

    .tabs {
        flex-direction: column; /* Alinea las tabs verticalmente en pantallas pequeñas */
    }

    .product {
        flex-direction: column; /* Cambia la dirección en pantallas pequeñas */
    }

    .product-img, .product-txt {
        width: 100%; /* Asegura que ambos ocupen el 100% del ancho */
        margin-left: 0; /* Elimina margen en pantallas pequeñas */
    }

    .swiper {
        height: 300px; /* Ajusta la altura del slider para pantallas pequeñas */
    }
}
